
#   Articles: recent / range / random / zotero
#
#   Mode     start_date       end_date
MO  recent    2018-01-01     2018-01-30

#   Categories.
CA  astro-ph

#   Classification mode: NB / LR / MH / SVM / PC
#
#   NB: Naive Bayes
#   LR: Logistic regression
#   MH: Modified Huber
#   SVM: Support Vector Machines (*)
#   PC:  Perceptron (*)
#
#   (*) probability estimates not available
#
CM  NB

#   Interest groups.
#
IG  star_clusters  galaxy  dark_matter
