
# This file stores the keywords that identify those
# articles the user is interested in and those that
# should be excluded.

# 'Mode' can be either 'recent' or 'range'. If 'range'
# is used, then a proper date range must be supplied.
# Otherwise the most recent article submissions will be
# requested from arXiv.
#
#   Mode    start_date     end_date
MO  recent    2017-5-1    2017-5-10

# Categories.
CA astro-ph stat

# Accepted keywords.
# Separated by spaces. Several words can be concatenated by
# enclosing them within quote marks, ie: "look for this".
IN keyword1 keyword2 "this is another keyword" keyword5
IN keyword6 keyword7 keyword8 keyword9

# Rejected keywords. Same as above.
OU keyword10 keyword11
