
[Data input]
#
# Modes:
#
# * recent : download the latest set of published articles
# * range  : download articles in date range (provided by the 'start'/'end'
#            parameters)
# * random : download articles from a random day
# * zotero : read articles from a 'zotero.csv' file
#
mode        = recent
start       = 2017-05-17
end         = 2017-05-17


[Categories]
#
# Download articles from these arXiv categories and sub-categories. More than
# one category can be selected. Only those articles present in the selected
# sub-categories will be kept.
#
cat         = astro-ph
subcat      = astro-ph.GA  astro-ph.IM


[Classification]
#
# Based on the tutorial presented in:
# https://scikit-learn.org/stable/tutorial/text_analytics/working_with_text_data.html
#
# Modes:
#
# The 'LR' mode seems to be the best classifier.
#
#   LR: Logistic regression
#   NB: Naive Bayes
#   MH: Modified Huber
#   SVM: Support Vector Machines (*)
#   PC:  Perceptron (*)
#
#   (*) probability estimates not available
#
mode        = LR


[Interest groups]
#
# Name as many groups as you want to classify articles within their scope.
#
names       = star_clusters   galaxy   astro_stats
